{% load mathfilters %}

{% if my_orders %}
    <style>
        #id_my_orders {
            height: 400px
        }
    </style>

    {% for order in my_orders %}
        {% if order.selected_driver == None %}
            <div class="div-title-orders"><span class="title-orders">Сейчас появятся предложения от<br>водителей,пожалуйста подождите</span>
            </div>
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        {% else %}
            <div class="div-title-orders"><span class="title-orders">Объязательно соохраните наш сайт в закладках, чтобы
                                            не потерять.</span>
            </div>
        {% endif %}
        <div class="orders-index">
            <div class="orders-index-1" style="height: {% if order.fourth_address %}
                190px
            {% elif order.third_address %}
                170px
            {% elif order.second_address %}
                150px
            {% else %}
                100px
            {% endif %}">
                <div class="cancel-div-1">
                    <span class="cancel-span-1">Откуда:</span><br>
                    <span class="cancel-span-2">Куда:</span>
                    {% if order.second_address %}
                        <span class="cancel-span-2" style="top: 45px">2-й адрес:</span>
                    {% endif %}
                    {% if order.third_address %}
                        <span class="cancel-span-2" style="top: 65px">3-й адрес:</span>
                    {% endif %}
                    {% if order.fourth_address %}
                        <span class="cancel-span-2" style="top: 85px">4-й адрес:</span>
                    {% endif %}

                    {% if order.selected_driver %}
                        <span class="cancel-span-5" style="font-size: 13px; top: {% if order.fourth_address %}
                110px
            {% elif order.third_address %}
                85px
            {% elif order.second_address %}
                65px
            {% endif %}">Уважаемые клиент сейчас вам позвонит водитель , прежде чем передать управление водителю в
                            обязательном порядке проверьте удостоверение личности и водительские удостоверения
                           водителя</span>
                    {% endif %}
                    {#                <span class="cancel-span-2" style="top: 55px">Статус: </span>#}
                    {#                <span class="cancel-span-2" style="top: 75px">Номер телефона: </span>#}
                </div>

                <div class="cancel-div-2">
                    <span class="cancel-span-3">{{ order.from_address }}</span><br>
                    <span class="cancel-span-4">{% if order.to_address == 'договориться на месте' %}
                        <span style="background-color: #48CC4D; padding: 2px; border-radius: 5px;color: white">{{ order.to_address }}</span>
                    {% else %}
                        {{ order.to_address }}
                    {% endif %}</span>
                    {% if order.second_address %}
                        <span class="cancel-span-4" style="top: 45px">{{ order.second_address }}</span>
                    {% endif %}
                    {% if order.third_address %}
                        <span class="cancel-span-4" style="top: 65px">{{ order.third_address }}</span>
                    {% endif %}
                    {% if order.fourth_address %}
                        <span class="cancel-span-4" style="top: 85px">{{ order.fourth_address }}</span>
                    {% endif %}
                </div>
                <br>
                {% if order.status == 'request' %}
                    <form action="{% url 'home_view' %}" method="post" id="id-cancel-form">
                        {% csrf_token %}
                        <input type="hidden" name="cancel" value="{{ order.id }}">
                        <button type="submit" class="cancel-btn" style="border: none">
                            Отменить заказ
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>

        {% if order.selected_driver %}
            <div style="margin: 0 auto; width: 130px; margin-top: 7px">
            <span style="background-color: #FCE406; border-radius: 25px; font-size: 15px; padding: 4px 10px;">
                            Ваш водитель
                        </span>

            </div>
            <div class="table">
                <div class="table-block-1">
                    <div class="div-for-img">

                        <div style="border-radius: 50%; overflow: hidden; width: 60px; height: 60px; margin: 0 auto">
                            <img src="{{ order.selected_driver.avatar.url }}"
                                 style="width: 65px; margin: 0 auto; "
                                 alt="">
                        </div>
                        <div style="margin: -3px 0 0 17px">
                            <span style=" font-size: 10px; ">Стаж: {{ order.selected_driver.driving_experience }}лет </span>
                            <p style="font-size:12px; margin-left: -10px ">
                                {% if order.selected_driver.average_rating < 0.5 %}
                                    <span
                                            style="color: #FCE406;font-size: 17px">☆☆☆☆☆</span>
                                {% elif order.selected_driver.average_rating >= 0.5 and  order.selected_driver.average_rating < 1.5 %}
                                    <span
                                            style="color: #FCE406;font-size: 13px">★☆☆☆☆</span>
                                {% elif order.selected_driver.average_rating >= 1.5 and  order.selected_driver.average_rating < 2.5 %}
                                    <span
                                            style="color: #FCE406;font-size: 13px">★★☆☆☆</span>
                                {% elif order.selected_driver.average_rating >= 2.5 and  order.selected_driver.average_rating < 3.5 %}
                                    <span
                                            style="color: #FCE406;font-size: 13px">★★★☆☆</span>
                                {% elif order.selected_driver.average_rating >= 3.5 and  order.selected_driver.average_rating < 4.5 %}
                                    <span
                                            style="color: #FCE406;font-size: 13px">★★★★☆</span>
                                {% elif order.selected_driver.average_rating >= 4.5 %}
                                    <span
                                            style="color: #FCE406;font-size: 13px">★★★★★</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div style=" border-left: 1px solid #ccc; padding: 3px; width: 280px">
                        <p style="font-size: 11px; font-weight: bold">
                            Информация о водителя
                        </p>
                        <p style="font-size: 11px">
                            Поездка: от {{ order.selected_driver.trip_from_price }} тг в чертах
                            города; {{ order.selected_driver.trip_hour_price }}тг/час
                        </p>
                        <p style="font-size: 11px">
                            Прибытие в среднем: {{ order.selected_driver.average_arrival }} мин
                        </p>
                        <p style="font-size: 11px">
                            Знание города: {{ order.selected_driver.get_knowledgecity_display }}
                        </p>
                        <p style="font-size: 11px">
                            Район проживание: {{ order.selected_driver.disctrict }}
                        </p>
                        <p style="font-size: 11px">
                            О себе: {{ order.selected_driver.bio }}
                        </p>
                    </div>
                </div>
                <div class="table-block-2">

                    <div class="tenge">
                        <p style="font-size: 12px">Время: </p>
                        <div style="background-color: #FCE406; border-radius: 25px; width: 67px; padding: 0 3px; height: 15px ">
                            <p style="font-size: 12px">{% for offer in order.offers.all %}
                                {% if offer.driver_offer == order.selected_driver %}
                                    {{ offer.time }}
                                {% endif %}
                            {% endfor %}  минут</p>
                        </div>
                    </div>
                    {% if order.to_address != 'договориться на месте' %}
                        <div class="tenge" style="margin-left: 5px">
                            <p style="font-size: 12px"> Цена:</p>
                            <div style="background-color: #FCE406; border-radius: 25px; width: 67px; padding: 0 3px; height: 15px ">
                                <p style="font-size: 12px"> {% for offer in order.offers.all %}
                                    {% if offer.driver_offer == order.selected_driver %}
                                        {{ offer.price }}
                                    {% endif %}
                                {% endfor %}  тг</p></div>
                            <input type="hidden" name="choose">
                        </div>
                    {% endif %}
                </div>
                <div class="table-block-3">
                    <a href="tel:+








                            {{ order.selected_driver.country_code }}{{ order.selected_driver.phone_number }}">+{{ order.selected_driver.country_code }}{{ order.selected_driver.phone_number }}</a>
                </div>
            </div>
            {% if order.review %}
            {% else %}
                <div class="rating-table">
                    <form action="{% url 'home_view' %}" class="" method="post" id="form_rating">
                        {% csrf_token %}
                        <h5>Оцените водителя</h5>

                        <div class="rating">
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            <label>
                                <input type="radio" name="rating" value="1"/>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="rating" value="2"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="rating" value="3"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="rating" value="4"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="rating" value="5"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>

                        </div>

                    </form>
                </div>
            {% endif %}
        {% else %}
            <form action="{% url 'home_view' %}" method="post" id="choose_driver">
                {% csrf_token %}
                {% for offer in order.offers.all %}
                    {% if offer.driver_offer.is_free == True %}
                        <input type="hidden" name="offer_id" value="{{ offer.id }}">
                        <div class="table">
                            <div class="table-block-1">
                                <div class="div-for-img">
                                    <div style="border-radius: 50%; overflow: hidden; width: 60px; height: 60px; margin: 0 auto">
                                        <img src="{{ offer.driver_offer.avatar.url }}"
                                             style="width: 65px; margin: 0 auto; "
                                             alt="">
                                    </div>
                                    <div style="margin: 0 0 0 17px">
                                        <span style=" font-size: 10px; ">Стаж: {{ offer.driver_offer.driving_experience }}лет </span>
                                        <p style="font-size:12px; margin-left: -10px ">
                                            {% if offer.driver_offer.average_rating < 0.5 %}
                                                <span
                                                        style="color: #FCE406;font-size: 17px">☆☆☆☆☆</span>
                                            {% elif offer.driver_offer.average_rating >= 0.5 and  offer.driver_offer.average_rating < 1.5 %}
                                                <span
                                                        style="color: #FCE406;font-size: 17px">★☆☆☆☆</span>
                                            {% elif offer.driver_offer.average_rating >= 1.5 and  offer.driver_offer.average_rating < 2.5 %}
                                                <span
                                                        style="color: #FCE406;font-size: 17px">★★☆☆☆</span>
                                            {% elif offer.driver_offer.average_rating >= 2.5 and  offer.driver_offer.average_rating < 3.5 %}
                                                <span
                                                        style="color: #FCE406;font-size: 17px">★★★☆☆</span>
                                            {% elif offer.driver_offer.average_rating >= 3.5 and  offer.driver_offer.average_rating < 4.5 %}
                                                <span
                                                        style="color: #FCE406;font-size: 17px">★★★★☆</span>
                                            {% elif offer.driver_offer.average_rating >= 4.5 %}
                                                <span
                                                        style="color: #FCE406;font-size: 17px">★★★★★</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div style=" border-left: 1px solid #ccc; padding: 3px; width: 280px">
                                    <p style="font-size: 11px; font-weight: bold">
                                        Информация о водителя
                                    </p>
                                    <p style="font-size: 11px">
                                        Поездка: от {{ offer.driver_offer.trip_from_price }} тг в чертах
                                        города; {{ offer.driver_offer.trip_hour_price }}тг/час
                                    </p>
                                    <p style="font-size: 11px">
                                        Прибытие в среднем: {{ offer.driver_offer.average_arrival }} мин
                                    </p>
                                    <p style="font-size: 11px">
                                        Знание города: {{ offer.driver_offer.get_knowledgecity_display }}
                                    </p>
                                    <p style="font-size: 11px">
                                        Район проживание: {{ offer.driver_offer.disctrict }}
                                    </p>
                                    <p style="font-size: 11px">
                                        О себе: {{ offer.driver_offer.bio }}
                                    </p>
                                </div>
                            </div>
                            <div class="table-block-2">

                                <div class="tenge">
                                    <p style="font-size: 12px">Время: </p>
                                    <div style="background-color: #FCE406; border-radius: 25px; width: 67px; padding: 0 3px; height: 15px ">
                                        <p style="font-size: 12px">{{ offer.time }} минут</p>
                                    </div>
                                </div>
                                {% if order.to_address != 'договориться на месте' %}
                                    <div class="tenge" style="margin-left: 5px">
                                        <p style="font-size: 12px">Цена:</p>
                                        <div style="background-color: #FCE406; border-radius: 25px; padding: 0 3px; width: 67px; height: 15px">
                                            <p style="font-size: 12px"> {{ offer.price }} тг</p></div>

                                    </div>
                                {% endif %}
                                <input type="hidden" name="choose">
                            </div>
                            <div class="table-block-3">
                                <button class="" type="submit">Позвонить</button>
                            </div>


                        </div>
                    {% endif %}
                {% endfor %}
            </form>
        {% endif %}
    {% endfor %}
{% endif %}


<script>
    $('#id-cancel-form').on('submit', function () {
        event.preventDefault();
        console.log('asdasdasd');
        $.ajax({
            type: 'POST',
            url: "{% url 'home_view' %}",
            data: $('#id-cancel-form').serialize(),
            success: function e() {
                console.log(e);
            },
        });
    });

    $('#choose_driver').on('submit', function () {
        event.preventDefault();
        console.log('123asd');
        $.ajax({
            type: 'POST',
            url: "{% url 'home_view' %}",
            data: $('#choose_driver').serialize(),
            success: function e() {
                console.log(e);
            },
        });
    });
    $('#id_modal').scroll(function () {
        sessionStorage.scrollTopModal = $('#id_modal').scrollTop();
    });
    $(document).ready(function () {
        if (sessionStorage.scrollTopModal != "undefined") {
            $('#id_modal').scrollTop(sessionStorage.scrollTopModal);
        }
    });
    $('#form_rating').on('change', function () {
        event.preventDefault();
        console.log('12asd3asd');
        $.ajax({
            type: 'POST',
            url: "{% url 'home_view' %}",
            data: $('#form_rating').serialize(),
            success: function e() {
                console.log(e);
            },
        });
    });


</script>
