{% if my_orders %}

    <style>
        #id_my_orders {
            height: 300px
        }
    </style>
    <div class="div-title-orders"><span class="title-orders">Сейчас появятся предложения от<br>водителей,пожалуйста подождите</span>
    </div>
    {% for order in my_orders %}
        {% if order.selected_driver == None %}

            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        {% endif %}
        <div class="orders-index">

            <div class="orders-index-1">

                <div class="cancel-div-1">
                    <span class="cancel-span-1">Откуда:</span><br>
                    <span class="cancel-span-2">Куда:</span>
                    {#                <span class="cancel-span-2" style="top: 55px">Статус: </span>#}
                    {#                <span class="cancel-span-2" style="top: 75px">Номер телефона: </span>#}
                </div>

                <div class="cancel-div-2">
                    <span class="cancel-span-3">{{ order.from_address }}</span><br>
                    <span class="cancel-span-4">{% if order.to_address == 'договориться на месте' %}
                        <span style="background-color: #48CC4D; padding: 2px; border-radius: 5px;color: white">{{ order.to_address }}</span>
                    {% else %}
                        {{ order.to_address }}
                    {% endif %}</span>
                    {#                <span class="cancel-span-4" style="top: 55px">{{ order.get_status_display }} </span>#}
                    {#                <span class="cancel-span-4" style="top: 75px; left: 145px"><a#}
                    {#                        href="tel:{{ order.selected_driver.phone_number }}">{{ order.selected_driver.phone_number }}</a> </span>#}
                </div>
                <br>
                {% if order.status == 'request' %}
                    <form action="{% url 'home_view' %}" method="post">
                        {% csrf_token %}
                        <button class="cancel-btn" style="border: none" type="submit" name="cancel"
                                value="{{ order.id }}">
                            Отменить заказ
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>

        {% if order.selected_driver %}

            {% if order.review %}
                <div></div>
            {% else %}
                <div class="order-modal" id="id_modal" style="">
                    <div class="order-modal-content">

                        {#            <span class="close" id="id_close">&times;</span>#}
                        <form action="{% url 'home_view' %}" class="" method="post" id="form_rating">
                            {% csrf_token %}
                            <div class="order-modal-header">
                                <p>Ваш водитель</p>
                            </div>
                            <hr color="#d0d0d0" size="1" style="margin-top: 8px; border-radius: 25px">
                            <div class="order-modal-body">
                                <div style="width: 100%; height: auto; display: flex">
                                    <div style="width: 30%; margin: 1px; height: 70px">
                                        <div class="div-for-img">
                                            <div style="border-radius: 50%; overflow: hidden; ">
                                                <img src="{{ order.selected_driver.avatar.url }}"
                                                     style="display: block;margin-left: auto;margin-right: auto; height: 35px;"
                                                     alt="">
                                            </div>
                                            <div style="margin: 3px 0 0 3px">
                                                <span style=" font-size: 11px">Стаж: 5 лет </span>
                                                <p style="font-size:11px; margin: -5px 0 0 -5px">
                                                    {% if order.selected_driver.average_rating < 0.5 %}
                                                        <span
                                                                style="color: #FCE406;font-size: 11px">☆☆☆☆☆</span>
                                                    {% elif order.selected_driver.average_rating >= 0.5 and  order.selected_driver.average_rating < 1.5 %}
                                                        <span
                                                                style="color: #FCE406;font-size: 11px">★☆☆☆☆</span>
                                                    {% elif order.selected_driver.average_rating >= 1.5 and  order.selected_driver.average_rating < 2.5 %}
                                                        <span
                                                                style="color: #FCE406;font-size: 11px">★★☆☆☆</span>
                                                    {% elif order.selected_driver.average_rating >= 2.5 and  order.selected_driver.average_rating < 3.5 %}
                                                        <span
                                                                style="color: #FCE406;font-size: 11px">★★★☆☆</span>
                                                    {% elif order.selected_driver.average_rating >= 3.5 and  order.selected_driver.average_rating < 4.5 %}
                                                        <span
                                                                style="color: #FCE406;font-size: 11px">★★★★☆</span>
                                                    {% elif order.selected_driver.average_rating >= 4.5 %}
                                                        <span
                                                                style="color: #FCE406;font-size: 11px">★★★★★</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width: 70%; margin: 1px; height: 70px;">
                                        <p style="font-size: 11px; margin-top: -5px">Время:
                                            {% for offer in order.offers.all %}
                                                {% if offer.driver_offer == order.selected_driver %}
                                                    {{ offer.time }}
                                                {% endif %}
                                            {% endfor %} минут</p>
                                        <p style="font-size: 11px;margin-top: -5px">Цена:
                                            {% for offer in order.offers.all %}
                                                {% if offer.driver_offer == order.selected_driver %}
                                                    {{ offer.price }}
                                                {% endif %}
                                            {% endfor %} тг</p>
                                        {#                                        <p style="font-size: 10px;margin-top: -5px">Комментария водителя: </p>#}

                                    </div>
                                </div>
                                <div>
                                    <p style="font-size: 11px">Откуда:{{ order.from_address }} </p>
                                    <p style="font-size: 11px">Куда:
                                        {% if order.to_address == 'договориться на месте' %}
                                            <span style="background-color: #48CC4D; padding: 2px; border-radius: 5px; font-size: 11px;color: white">{{ order.to_address }}</span>
                                        {% else %}
                                            {{ order.to_address }}
                                        {% endif %}</p>
                                    <p style="font-size: 11px">Номер водителя:
                                        +7{{ order.selected_driver.phone_number }}</p>
                                </div>
                                <br>
                                <a href="tel:7{{ order.selected_driver.phone_number }}"
                                   class="order-call-btn">Позвонить</a>
                                <div class="rating">

                                    <input type="hidden" name="order_id" value="{{ order.id }}">
                                    <label>
                                        <input type="radio" name="rating" value="1"/>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="rating" value="2"/>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="rating" value="3"/>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="rating" value="4"/>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="rating" value="5"/>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>

                                </div>
                            </div>
                            <hr color="#d0d0d0" size="1" style="border-radius: 25px">
                            <br>
                            <div class="order-modal-footer">
                                <p style="font-size: 13px">Уважаемый клиент</p>
                                <p style="font-size: 11px">-------</p>
                                <br>
                                <button type="submit" class="order-call-btn" name="not_review"
                                        style="background-color: #e68a00; color: white; padding: 5px 15px 5px 15px; border: none">
                                    Заказать еще
                                    водителя
                                </button>
                            </div>
                        </form>
                        <br>
                    </div>

                </div>
            {% endif %}
            <div class="table">
                <div class="table-block-1">
                    <div class="div-for-img">
                        <div style="border-radius: 50%; overflow: hidden; ">
                            <img src="{{ order.selected_driver.avatar.url }}"
                                 style="display: block;margin-left: auto;margin-right: auto; height: 45px;"
                                 alt="">
                        </div>
                        <div style="margin: -3px 0 0 7px">
                            <span style=" font-size: 10px; ">Стаж: {{ order.selected_driver.driving_experience }}лет </span>
                            <p style="font-size:11px ">
                                {% if order.selected_driver.average_rating < 0.5 %}
                                    <span
                                            style="color: #FCE406;font-size: 11px">☆☆☆☆☆</span>
                                {% elif order.selected_driver.average_rating >= 0.5 and  order.selected_driver.average_rating < 1.5 %}
                                    <span
                                            style="color: #FCE406;font-size: 11px">★☆☆☆☆</span>
                                {% elif order.selected_driver.average_rating >= 1.5 and  order.selected_driver.average_rating < 2.5 %}
                                    <span
                                            style="color: #FCE406;font-size: 11px">★★☆☆☆</span>
                                {% elif order.selected_driver.average_rating >= 2.5 and  order.selected_driver.average_rating < 3.5 %}
                                    <span
                                            style="color: #FCE406;font-size: 11px">★★★☆☆</span>
                                {% elif order.selected_driver.average_rating >= 3.5 and  order.selected_driver.average_rating < 4.5 %}
                                    <span
                                            style="color: #FCE406;font-size: 11px">★★★★☆</span>
                                {% elif order.selected_driver.average_rating >= 4.5 %}
                                    <span
                                            style="color: #FCE406;font-size: 11px">★★★★★</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div style="width: 145px; border-left: 1px solid #ccc; padding: 3px">
                        <p style="font-size: 10px; font-weight: bold">
                                        Информация о водителя
                                    </p>
                                    <p style="font-size: 10px">
                                        Поездка: от {{ order.selected_driver.trip_from_price }} тг в чертах
                                        города; {{ order.selected_driver.trip_hour_price }}тг/час
                                    </p>
                                    <p style="font-size: 10px">
                                        Прибытие в среднем: {{ order.selected_driver.average_arrival }} мин
                                    </p>
                                    <p style="font-size: 10px">
                                        Знание города: {{ order.selected_driver.get_knowledgecity_display }}
                                    </p>
                                    <p style="font-size: 10px">
                                        О себе: {{ order.selected_driver.bio }}
                                    </p>
                    </div>
                </div>

                <div class="table-block-2">


                    <div class="tenge">
                        <p>Время:</p>
                        <div style="background-color: #FCE406; border-radius: 25px; padding: 1px 2px 3px 3px; width: 60px;margin-top: 3px">
                            <p>
                                {{ order.minutes }}:{{ order.seconds }}
                            </p>
                        </div>
                        <p>Цена:</p>
                        <div style="background-color: #FCE406; border-radius: 25px; padding: 1px 2px 3px 3px; width: 60px; margin-top: 3px">
                            <p>{% for offer in order.offers.all %}
                                {% if offer.driver_offer == order.selected_driver %}
                                    {{ offer.price }}
                                {% endif %}
                            {% endfor %} тг</p></div>


                    </div>

                </div>
                <div class="table-block-3" style="background-color: #48CC4D; color: white">
                    <p style="font-size: 11px; margin: 17px 0 0 7px">Номер водителя:</p>
                    <a style="font-size: 11px; color: white"
                       href="tel:+







                               {{ order.selected_driver.country_code }}{{ order.selected_driver.phone_number }}">+{{ order.selected_driver.country_code }}{{ order.selected_driver.phone_number }}</a>

                </div>

            </div>
        {% else %}

            <form action="{% url 'home_view' %}" method="post">
                {% csrf_token %}
                {% for offer in order.offers.all %}
                    {% if offer.driver_offer.is_free == True %}
                        <input type="hidden" name="offer_id" value="{{ offer.id }}">
                        <div class="table" style="height: 88px">
                            <div class="table-block-1">
                                <div class="div-for-img">
                                    <div style="border-radius: 50%; overflow: hidden; ">
                                        <img src="{{ offer.driver_offer.avatar.url }}"
                                             style="display: block;margin-left: auto;margin-right: auto; height: 45px;"
                                             alt="">
                                    </div>
                                    <div style="margin: -3px 0 0 7px">
                                        <span style=" font-size: 10px; ">Стаж: {{ offer.driver_offer.driving_experience }}лет </span>
                                        <p style="font-size:10px ">
                                            {% if offer.driver_offer.average_rating < 0.5 %}
                                                <span
                                                        style="color: #FCE406;font-size: 11px">☆☆☆☆☆</span>
                                            {% elif offer.driver_offer.average_rating >= 0.5 and  offer.driver_offer.average_rating < 1.5 %}
                                                <span
                                                        style="color: #FCE406;font-size: 11px">★☆☆☆☆</span>
                                            {% elif offer.driver_offer.average_rating >= 1.5 and  offer.driver_offer.average_rating < 2.5 %}
                                                <span
                                                        style="color: #FCE406;font-size: 11px">★★☆☆☆</span>
                                            {% elif offer.driver_offer.average_rating >= 2.5 and  offer.driver_offer.average_rating < 3.5 %}
                                                <span
                                                        style="color: #FCE406;font-size: 11px">★★★☆☆</span>
                                            {% elif offer.driver_offer.average_rating >= 3.5 and  offer.driver_offer.average_rating < 4.5 %}
                                                <span
                                                        style="color: #FCE406;font-size: 11px">★★★★☆</span>
                                            {% elif offer.driver_offer.average_rating >= 4.5 %}
                                                <span
                                                        style="color: #FCE406;font-size: 11px">★★★★★</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div style="width: 145px; border-left: 1px solid #ccc; padding: 3px">
                                    <p style="font-size: 10px; font-weight: bold">
                                        Информация о водителя
                                    </p>
                                    <p style="font-size: 10px">
                                        Поездка: от {{ offer.driver_offer.trip_from_price }} тг в чертах
                                        города; {{ offer.driver_offer.trip_hour_price }}тг/час
                                    </p>
                                    <p style="font-size: 10px">
                                        Прибытие в среднем: {{ offer.driver_offer.average_arrival }} мин
                                    </p>
                                    <p style="font-size: 10px">
                                        Знание города: {{ offer.driver_offer.get_knowledgecity_display }}
                                    </p>
                                    <p style="font-size: 10px">
                                        О себе: {{ offer.driver_offer.bio }}
                                    </p>
                                </div>
                            </div>
                            <div class="table-block-2">


                                <div class="tenge">
                                    <p>Время:</p>
                                    <div style="background-color: #FCE406; border-radius: 25px; padding: 1px 2px 3px 3px; width: 60px;margin-top: 3px">
                                        <p>{{ offer.time }} минут</p></div>
                                    <p>Цена:</p>
                                    <div style="background-color: #FCE406; border-radius: 25px; padding: 1px 2px 3px 3px; width: 60px; margin-top: 3px">
                                        <p>{{ offer.price }} тг</p></div>


                                </div>

                            </div>
                            <div class="table-block-3">
                                <button style="border: none" type="submit" name="choose">
                                    Выбрать водителя
                                </button>
                            </div>

                        </div>
                    {% endif %}
                {% endfor %}
            </form>
        {% endif %}
    {% endfor %}
{% endif %}


<script>
    $('#id_modal').scroll(function () {
        sessionStorage.scrollTopModal = $('#id_modal').scrollTop();
    });
    $(document).ready(function () {
        $('input[name=rating]').change(function () {
            $('#form_rating').submit();
        });
        if (sessionStorage.scrollTopModal != "undefined") {
            $('#id_modal').scrollTop(sessionStorage.scrollTopModal);
        }
    });
</script>
