<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>В градусе KZ</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="page"> <!-- ------------------Logo-------------- -->
    <div class="header-1">
        <div class="logo-div"><img class="logo" src="/static/img/logo-1.svg" alt="logo"></div>
    </div>

    <!---------------- content ----------------->
    <div class="bookmark-div">
        <div class="new-blue-block">
            <img src="/static/img/bookmarks-1.png" alt="">
            <p>Обязательно сохраните наш сайт<br>в закладках, чтобы не забыть</p>
        </div>
    </div>
    <div class="new-div-1">
        <div class="new-yellow-block">
            <img src="/static/img/Ellipse-green.png" alt="">
            <p>{{ count_online_drivers }} водителей онлайн</p>
        </div>
    </div>


    <form action="{% url 'home_view' %}" method="post">
        {% csrf_token %}
        <div class="input-form">
                        <div style="display: none" id="id_cities">
            <div class="text-input"><p>Ваш город</p></div>
            <select class="input-city" name="city" id="id_city">
                <option value="" selected disabled>-----</option>
                {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
                        </div>
            <div class="text-input">
                <p>Откуда</p>
                <div class="text-red">
                    <p>определить местоположение</p>
                    <img src="/static/img/geolocation.png" width="19px" height="19px" alt="">
                </div>
            </div>
            <div class="div-from">
                <input class="input-from" type="text" name="from_address" onkeyup="DisplayCity()" placeholder="Откуда поедем"
                                         required>
            </div>
            <div class="text-input-1">
                <p>Куда</p>
                <a class="text-green" href="#" onclick="AgreeOnTheSpot()" style="color: white">
                    договориться на месте
                </a>
            </div>
            <div class="div-from"><input class="input-to" type="text" name="to_address" placeholder="Куда поедем"
                                         id="id_to_address" required>
                <img class="geo-plus" src="/static/img/blue+.png" alt=""></div>

            <div class="text-input"><p>Телефон</p></div>
            <input class="input-number" type="number" name="phone_number" placeholder="+7 (999) 999-99-99" required>
            <button type="submit" class="btn-in-index" name="order">Заказать водителя</button>
        </div>

    </form>


    {% if my_orders %}
        <div class="div-title-orders"><span class="title-orders">Сейчас появятся предложения от<br>водителей,пожалуйста подождите</span>
        </div>



        {% for order in my_orders %}
            {% if order.selected_driver == None and order.offers.all == None %}

                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            {% endif %}
            {% if order.selected_driver %}
                <div class="orders-index">

                    <div class="orders-index-1" {% if order.status == 'finished' %}style="height: 250px"{% endif %}>

                        <div class="cancel-div-1">
                            <span class="cancel-span-1">Откуда:</span><br>
                            <span class="cancel-span-2">Куда:</span>
                            <span class="cancel-span-2" style="top: 72px">Статус: </span>
                        </div>

                        <div class="cancel-div-2">
                            <span class="cancel-span-3">{{ order.from_address }}</span><br>
                            <span class="cancel-span-4">{{ order.to_address }}</span>
                            <span class="cancel-span-4" style="top: 72px">{{ order.get_status_display }} </span>
                        </div>
                        <br>
                        <div class="cancel-div-3">

                            {% if order.status == 'finished' %}
                                <span class="cancel-span-2" style="top: 100px">Оценка: </span>
                                <span class="cancel-span-4" style="top: 100px">
                                <select name="" id="" class="registration-input"
                                        style="width: 100px; height: 20px; font-size: 15px">
                                    <option value="1">★</option>
                                    <option value="2">★★</option>
                                    <option value="3">★★★</option>
                                    <option value="4">★★★★</option>
                                    <option value="5">★★★★★</option>
                                </select>
                            </span>
                                <span class="cancel-span-2" style="top: 130px">Отзыв: </span>
                                <span class="cancel-span-4" style="top: 130px">
                                <textarea name="" id="" cols="30" rows="10" class="registration-input"
                                          style="width: 240px; height: 60px"></textarea>
                            </span>
                                <span class="cancel-span-4" style="top: 210px">
                                <button class="btn-in-index"
                                        style="width: 100px; font-size: 12px; background-color: #48CC4D; padding: 5; height: 30px">Отправить</button>
                            </span>
                            {% endif %}
                        </div>
                        {% if order.status == 'started' %}
                            <form action="{% url 'home_view' %}" method="post">
                                {% csrf_token %}
                                <button class="cancel-btn" style="border: none" type="submit" name="cancel"
                                        value="{{ order.id }}">
                                    Отменить заказ
                                </button>
                            </form>
                        {% endif %}

                    </div>

                    <div class="orders-from-index-2">

                    </div>
                </div>
            {% else %}

                <form action="{% url 'home_view' %}" method="post">
                    {% csrf_token %}
                    {% for offer in order.offers.all %}
                        <input type="hidden" name="offer_id" value="{{ offer.id }}">
                        <div class="table">
                            <div class="table-block-1">
                                <div class="div-for-img">
                                    <img src="{{ offer.driver_offer.avatar.url }}"
                                         style="display: block;margin-left: auto;margin-right: auto; height: 35px"
                                         alt="">
                                    <span style="margin: 5px 0 0 7px; font-size: 12px">{{ offer.driver_offer.driving_experience }} лет </span>
                                </div>

                                <p>
                                    <span class="tenge">{{ offer.time }} минут</span>
                                    <br>
                                    <span class="tenge">{{ offer.price }} тг</span>

                                </p>
                            </div>
                            <div class="table-block-2">
                                <p>{{ offer.comment }}</p>
                            </div>
                            <button class="table-block-3" style="border: none" type="submit" name="choose">
                                Выбрать водителя
                            </button>
                        </div>
                    {% endfor %}
                </form>
            {% endif %}
        {% endfor %}
    {% endif %}

    <!--  -->


    <div class="content">
        <div class="content-1">
            <p>Полная безопасность</p>
            <img class="icons-in-index" src="/static/img/verified.svg" alt="def">
            <p>Все водители проходят проверку</p>
        </div>

        <div class="content-2">
            <p>Быстрая подача</p>
            <img class="icons-in-index" src="/static/img/clock.svg" alt="clock">
            <p>Средняя время подачи 5 минут</p>
        </div>

        <div class="content-3">
            <p>Выбор за вами</p>
            <img class="icons-in-index" src="/static/img/vote.svg" alt="vote" style="margin-left: 21px;">
            <p>Вы сами выбираете, кто вас повезет</p>
        </div>


    </div>  <!------------------- content ----------------->
</div>              <!-- ------------------page-------------- -->

<footer class="footer">
    <a class="drivers" href="{% url 'prodile_view' %}">Для водителей</a>

    <div class="contacts">
        <p>Телефон: 727 300-0000</p>
        <p>Email: vgraduse.kz@gmail.com</p>
    </div>
</footer>
<script>
    function AgreeOnTheSpot() {
        document.getElementById('id_to_address').value = 'договориться на месте'
    }
    function DisplayCity() {
        document.getElementById('id_cities').style.display = ''
    }
</script>
</body>
</html>