{% extends "profileapp/profile_base.html" %}

{% block title %}
    <title>Изменить пароль</title>{% endblock %}

{% block content %}
    <div class="setting-div-2">
        <form action="{% url 'password_change' %}" method="post">
            {% csrf_token %}
{#            {{ form.as_p }}#}
            <ul class="errorlist" style="margin: 5px">
                {{ form.old_password.errors }}
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}
            </ul>

            <div class="set-div-1-1"><p class="text-in-settings">Изменить пароль</p></div>
            <input class="registration-input" type="password" placeholder="Старый пароль" name="old_password" required>
            <input class="registration-input" type="password" placeholder="Новый пароль" name="new_password1" required>
            <span class="helptext"></span>
            <input class="registration-input" type="password" placeholder="Повторите новый пароль" name="new_password2" required>
            <button class="btn-in-settings" name="change_password" type="submit">Изменить</button>
        </form>
        <br>
    </div>

{#    <h1>Change you password</h1>#}
{#    <p>Use the form below to change your password.</p>#}
{#    <form action="." method="post">#}
{#        {{ form.as_p }}#}
{#        <p><input type="submit" value="Change"></p>#}
{#        {% csrf_token %}#}
{#    </form>#}
{% endblock %}