{% extends "profileapp/profile_base.html" %}

{% block title %}
    <title>
    Пароль изменен
    </title>
{% endblock %}

{% block content %}
    <div class="" style="text-align: center">
        <h1>Пароль изменен</h1>
    <p>Ваш пароль был успешно изменен.</p>
    </div>

{#    <h1>Change you password</h1>#}
{#    <p>Use the form below to change your password.</p>#}
{#    <form action="." method="post">#}
{#        {{ form.as_p }}#}
{#        <p><input type="submit" value="Change"></p>#}
{#        {% csrf_token %}#}
{#    </form>#}
{% endblock %}