{% extends 'user_auth/user_auth_base.html' %}
{% block content %}
    <main class="page">
        <div class="text-in-registration">
            <h1>Вход для водитилей</h1>
        </div>
        <div class="registration-window">
            <form action="{% url 'login_view' %}" method="POST">
                {% csrf_token %}
                {% if messages %}
                    <div id="messages1" class="error-modal">
                        <div class="error-modal-content">
                            <span class="error-modal-close" id="id_close1" onclick="close1()">&times;</span>
                            {% for message in messages %}
                                {{ message|escape }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if form.non_field_errors %}
                    <div id="messages2" class="error-modal">
                        <div class="error-modal-content">
                            <span class="error-modal-close" id="id_close2" onclick="close2()">&times;</span>
                            {% for message in form.non_field_errors %}
                                {{ message|escape }}
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}

                <div class="text-in-registration-window">Номер телефона (без кода страны: +7 или 8)</div>
                <input class="input-number" type="number" placeholder="К примеру: 7771234567 " name="phone_number"
                       required>
                <div class="text-in-registration-window">Введите пароль</div>
                <input class="input-number" type="password" placeholder="Введите пароль" name="password" required>
                <button class="sign-in-btn" type="submit" name="register">Войти</button>
                <a class="anchor-sign-in" href="{% url 'register_view' %}">Регистрация</a>
                <a class="anchor-sign-in" href="{% url 'restore_password' %}">Забыли пароль?</a>
            </form>
        </div>
    </main>
    <script>
        function close1() {
            document.getElementById('messages1').style.display = 'none';
        }

        function close2() {
            document.getElementById('messages2').style.display = 'none';
        }
    </script>
{% endblock %}