{% extends 'user_auth/user_auth_base.html' %}
{% block content %}
    <main class="page">
        <div class="text-in-registration">
            <h1>Подтвердите свой номер телефона</h1>
        </div>
        <div class="registration-window">

            <form action="{% url 'verify_view' %}" method="POST">
                            {% if messages %}
                    <div id="messages1" class="error-modal">
                        <div class="error-modal-content">
                            <span class="error-modal-close" id="id_close1" onclick="close1()">&times;</span>
                            {% for message in messages %}
                                {{ message|escape }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if form.non_field_errors %}
                    <div id="messages2" class="error-modal">
                        <div class="error-modal-content">
                            <span class="error-modal-close" id="id_close2" onclick="close2()">&times;</span>
                            {% for message in form.non_field_errors %}
                                {{ message|escape }}
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}
                {% csrf_token %}
                        <input type='hidden' name='phone_number' value='{{ user.phone_number }}'/>


                <div class="div-in-window-registration">
                    <label for="3-registration-input"><span
                            class="text-in-registration-window">Одноразовый пароль</span></label>
                    <p style="color: red">{{ form.one_time_password.errors }}</p>
                    <input class="registration-input" type="password" id="3-registration-input" name="one_time_password"
                           placeholder="Одноразовый пароль" required>
                </div>
                <button class="sign-in-btn" type="submit" name="register">Подтверждать</button>
{#                <a class="anchor-sign-in" href="{% url 'register_view' %}">Регистрация</a>#}
{#                <a class="anchor-sign-in" href="{% url 'login_view' %}">Войти</a>#}
            </form>
        </div>
    </main>
    <script>
        function close1() {
            document.getElementById('messages1').style.display = 'none';
        }

        function close2() {
            document.getElementById('messages2').style.display = 'none';
        }
    </script>
{% endblock %}

