{% extends 'user_auth/user_auth_base.html' %}
{% block content %}
    <style>
        label {
            margin-left: 7px;
            font-size: 22px;
            color: #363636;
        }

        .helptext {
            font-size: 17px;
        {#margin: 5px;#}
        }

        .collapse {
        {#padding: 0 18px;#} display: none;
            overflow: hidden;
        {#background-color: #f1f1f1;#}
        }
    </style>
    <main class="page">
        <div class="text-in-registration"><h1>Регистрация для водителей</h1></div>
        <div class="text-in-registration"><h2>Внимание! Для работы, необходим стаж вождения не менее 3-х лет.</h2></div>

        <div class="registration-window">


            <form action="{% url 'register_view' %}" method="post" autocomplete="off" enctype="multipart/form-data"
                  style="margin-left: 28px">
                {% csrf_token %}
                {% if messages %}
                    <div id="messages1" class="error-modal">
                        <div class="error-modal-content">
                            <span class="error-modal-close" id="id_close1" onclick="close1()">&times;</span>
                            {% for message in messages %}
                                {{ message|escape }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if form.non_field_errors %}
                    <div id="messages2" class="error-modal">
                        <div class="error-modal-content">
                            <span class="error-modal-close" id="id_close2" onclick="close2()">&times;</span>
                            {% for message in form.non_field_errors %}
                                {{ message|escape }}
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}
                <div class="div-in-window-registration">
                    <label for="1-registration-input"><span
                            class="text-in-registration-window">Ваша фамилия</span></label>
                    <p style="color: red">{{ form.last_name.errors }}</p>

                    <input class="registration-input" type="text" id="1-registration-input" placeholder="Фамилия"
                           name="last_name"
                           required>
                </div>

                <div class="div-in-window-registration">
                    <label for="2-registration-input"><span class="text-in-registration-window">Ваше имя</span></label>
                    <p style="color: red">{{ form.first_name.errors }}</p>
                    <input class="registration-input" type="text" id="2-registration-input" placeholder="Имя"
                           name="first_name" required>
                </div>

                <div class="div-in-window-registration">
                    <label for="3-registration-input"><span
                            class="text-in-registration-window">Ваш номер телефона</span></label>
                    <p style="color: red">{{ form.phone_number.errors }}</p>
                    {#                                    <input class="registration-input" type="number" id="3-registration-input" name="phone_number"#}
                    {#                                           placeholder="777 777 77 77" required>#}
                    <input class="registration-input" type="number" id="3-registration-input" name="country_code"
                           style="width: 20%; display: inline; " max="9"
                           placeholder="7" required>
                    <input class="registration-input" type="number" id="3-registration-input"
                           style="width: 68%;display: inline" name="phone_number"
                           placeholder="777 777 77 77" required>
                </div>
                {#                <div class="div-in-window-registration">#}
                {#                    <label for="3-registration-input"><span#}
                {#                            class="text-in-registration-window">Код страны</span></label>#}
                {#                    <p style="color: red">{{ form.country_code.errors }}</p>#}
                {#                    <select name="country_code" id="" class="registration-input">#}
                {#                        <option data-countryCode="KZ" value="7" selected>Казахстан (+7)</option>#}
                {#                        <option data-countryCode="RU" value="7">Россия (+7)</option>#}
                {##}
                {#                    </select>#}
                {#                </div>#}
                {##}
                {#                <div class="div-in-window-registration">#}
                {#                    <label for="3-registration-input"><span#}
                {#                            class="text-in-registration-window">Ваш номер телефона</span></label>#}
                {#                    <p style="color: red">{{ form.phone_number.errors }}</p>#}
                {#                    <input class="registration-input" type="number" id="3-registration-input" name="phone_number"#}
                {#                           placeholder="777 777 77 77" required>#}
                {#                </div>#}

                <div class="div-in-window-registration">
                    <label for="4-registration-input"><span class="text-in-registration-window">Ваше фото</span></label>
                    <p style="color: red">{{ form.avatar.errors }}</p>
                    <input class="registration-input" style="font-size: 16px;" type="file" id="4-registration-input"
                           name="avatar"
                           placeholder="Файл не выбран" accept="image/*" capture="camera" required>
                </div>


                <div class="div-in-window-registration">
                    <label for="5-registration-input"><span
                            class="text-in-registration-window">Город работы</span></label>
                    {{ form.city }}
                </div>

                <div class="div-in-window-registration">
                    <label for="6-registration-input"><span class="text-in-registration-window">ИИН</span></label>
                    <p style="color: red">{{ form.iin.errors }}</p>
                    <input class="registration-input" type="number" id="6-registration-input" placeholder="ИИН"
                           name="iin" pattern="[0-9]{12}"
                           required>
                </div>

                <div class="div-in-window-registration">
                    <label for="7-registration-input"><span class="text-in-registration-window">Номер ВУ</span></label>
                    <p style="color: red">{{ form.driver_license_number.errors }}</p>
                    <p style="margin-left: 14px">Пример: AA№123456</p>
                    <input class="registration-input" type="text" id="7-registration-input" name="driver_license_number"
                           placeholder="Водительское удостоверение" autocomplete="off" pattern="[A-Z]{2}№[0-9]{6}"
                           required>
                </div>
                <button type="button" style="border: none;cursor:pointer; margin-left: 5px" class="collapsible" >  <span
                                class="text-in-registration-window">Информация о себе</span></button>

                <div class="collapse">
                    <div class="div-in-window-registration">

                        <div style="padding: 5px">
                            <p>Поездка: от <input type="number" class="about-input" style="width: 60px" max="9999"
                                                  name="trip_from_price" placeholder="1500" value="
                            {% if request.user.trip_from_price %}{{ request.user.trip_from_price }}{% endif %}"> тг в
                                чертах
                                города;
                                <input type="number" class="about-input" style="width: 60px" max="9999"
                                       name="trip_hour_price"
                                       placeholder="1000" value="
                                {% if request.user.trip_hour_price %}{{ request.user.trip_hour_price }}{% endif %}">тг/час
                            </p>
                            <p>Прибытие в среднем: <input type="number" class="about-input" style="width: 60px" max="99"
                                                          name="average_arrival" placeholder="15"
                                                          value="



                                                                  {% if request.user.average_arrival %}{{ request.user.average_arrival }}{% endif %}">
                                мин
                            </p>
                            <p>Знание города <select name="knowledgecity" id="" class="about-input">
                                <option selected disabled>-----</option>
                                <option value="5" {% if request.user.knowledgecity == '5' %}selected{% endif %}>отлично
                                </option>
                                <option value="4" {% if request.user.knowledgecity == '4' %}selected{% endif %}>хорошо
                                </option>
                                <option value="3" {% if request.user.knowledgecity == '3' %}selected{% endif %}>
                                    нормально
                                </option>
                                <option value="2" {% if request.user.knowledgecity == '2' %}selected{% endif %}>немножко
                                </option>
                                <option value="1" {% if request.user.knowledgecity == '1' %}selected{% endif %}>незнаю
                                </option>

                            </select></p>
                            <p>О себе:
                                <input type="text" class="about-input" style="width: 280px" name="bio"
                                       placeholder="Информация о себе" maxlength="18"
                                       value="{% if request.user.bio %}{{ request.user.bio }}{% endif %}">
                            </p>
                        </div>

                    </div>
                    <div class="div-in-window-registration">
                        <label for="5-registration-input"><span
                                class="text-in-registration-window">Стаж работы</span></label>
                        <select class="registration-input" name="driving_experience" id="5-registration-input" required>
                            <option selected disabled>---</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>

                        </select>

                    </div>
                </div>

                <div class="div-in-window-registration">
                    <label for="8-registration-input"><span class="text-in-registration-window">Придумайте пароль</span></label>
                    <p style="color: red">{{ form.password1.errors }}</p>
                    <input class="registration-input" type="password" id="8-registration-input" name="password1"
                           placeholder="Придумайте пароль" required>
                </div>

                <div class="div-in-window-registration">
                    <label for="9-registration-input"><span class="text-in-registration-window">Повторите пароль</span></label>
                    <p style="color: red">{{ form.password2.errors }}</p>
                    <input class="registration-input" type="password" id="9-registration-input" name="password2"
                           placeholder="Повторите пароль" required>
                </div>


                <input type="checkbox" required> <span>Я согласен(на) с <a class="politic-checkbox"
                                                                           href="/media/Соглашение с водителем.docx"> политикой <br>
         конфиденциальности</a></span>


                <div>
                    <button class="registration-btn" type="submit" name="register">Зарегистрироваться</button>
                </div>


                <div class="registration-anchor"><a class="anchor-sign-in" href="{% url 'login_view' %}">Войти</a></div>
                {#                <div class="registration-anchor"><a class="anchor-sign-in" href="recovery.html">Забыли пароль?</a></div>#}
            </form>
        </div>  <!-- registration-window -->
    </main>
    <script>
        function close1() {
            document.getElementById('messages1').style.display = 'none';
        }

        function close2() {
            document.getElementById('messages2').style.display = 'none';
        }
    </script>


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

{% endblock %}
