{% extends 'user_auth/user_auth_base.html' %}
{% block content %}
    <main class="page">
        <div class="text-in-registration">
            <h1>Восстановить пароль</h1>
        </div>
        <div class="registration-window">
            <form action="{% url 'restore_password' %}" method="POST">
                {% csrf_token %}
                                    {% if messages %}
                    <div id="messages1" class="error-modal">
                        <div class="error-modal-content">
                            <span class="error-modal-close" id="id_close1" onclick="close1()">&times;</span>
                            {% for message in messages %}
                                {{ message|escape }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if form.non_field_errors %}
                    <div id="messages2" class="error-modal">
                        <div class="error-modal-content">
                            <span class="error-modal-close" id="id_close2" onclick="close2()">&times;</span>
                            {% for message in form.non_field_errors %}
                                {{ message|escape }}
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}
                <div class="div-in-window-registration" style="margin-left: 45px">
                    <label for="3-registration-input"><span
                            class="text-in-registration-window">Ваш номер телефона</span></label>
                    <p style="color: red">{{ form.phone_number.errors }}</p>
                    {#                                    <input class="registration-input" type="number" id="3-registration-input" name="phone_number"#}
                    {#                                           placeholder="777 777 77 77" required>#}
                    <input class="registration-input" type="number" id="3-registration-input" name="country_code"
                           style="width: 18%; display: inline-block; " max="9"
                           placeholder="7" required>
                    <input class="registration-input" type="number" id="3-registration-input"
                           style="width: 63%;display: inline-block" name="phone_number"
                           placeholder="777 777 77 77" required>
                </div>

                <button class="sign-in-btn" type="submit" name="register">Восстоновить</button>
                <a class="anchor-sign-in" href="{% url 'register_view' %}">Регистрация</a>
                <a class="anchor-sign-in" href="{% url 'login_view' %}">Войти</a>
            </form>
        </div>
    </main>
    <script>
        function close1() {
            document.getElementById('messages1').style.display = 'none';
        }

        function close2() {
            document.getElementById('messages2').style.display = 'none';
        }
    </script>
{% endblock %}