{% extends 'user_auth/user_auth_base.html' %}
{% block content %}
    <main class="page">
        <div class="text-in-registration">
            <h1>Восстановить пароль</h1>
        </div>
        <div class="registration-window">
            <form action="{% url 'restore_password' %}" method="POST">
                {% csrf_token %}
                <div class="div-in-window-registration" style="margin-left: 45px">
                    <label for="3-registration-input"><span
                            class="text-in-registration-window">Ваш номер телефона</span></label>
                    <p style="color: red">{{ form.phone_number.errors }}</p>
                    {#                                    <input class="registration-input" type="number" id="3-registration-input" name="phone_number"#}
                    {#                                           placeholder="777 777 77 77" required>#}
                    <input class="registration-input" type="number" id="3-registration-input" name="country_code"
                           style="width: 18%; display: inline-block; " max="9"
                           placeholder="7" required>
                    <input class="registration-input" type="number" id="3-registration-input"
                           style="width: 63%;display: inline-block" name="phone_number"
                           placeholder="777 777 77 77" required>
                </div>
                {#                <div class="div-in-window-registration">#}
                {#                    <label for="3-registration-input"><span#}
                {#                            class="text-in-registration-window">Код страны</span></label>#}
                {#                    <p style="color: red">{{ form.country_code.errors }}</p>#}
                {#                    <select name="country_code" id="" class="registration-input">#}
                {#                        <option data-countryCode="KZ" value="7" selected>Казахстан (+7)</option>#}
                {#                        <option data-countryCode="RU" value="7">Россия (+7)</option>#}
                {##}
                {#                    </select>#}
                {#                </div>#}
                {##}
                {#                <div class="div-in-window-registration">#}
                {#                    <label for="3-registration-input"><span#}
                {#                            class="text-in-registration-window">Ваш номер телефона</span></label>#}
                {#                    <p style="color: red">{{ form.phone_number.errors }}</p>#}
                {#                    <input class="registration-input" type="number" id="3-registration-input" name="phone_number"#}
                {#                           placeholder="777 777 77 77" required>#}
                {#                </div>#}
                <button class="sign-in-btn" type="submit" name="register">Восстоновить</button>
                <a class="anchor-sign-in" href="{% url 'register_view' %}">Регистрация</a>
                <a class="anchor-sign-in" href="{% url 'login_view' %}">Войти</a>
            </form>
        </div>
    </main>
    {#    <div class="h-100vh">#}
    {#    <div class="v-r-c">#}
    {#        <h2 class="tac">Восстановить пароль</h2>#}
    {#        <div class="form m-c sign-form">#}
    {#            <form method="POST" id="login_form" autocomplete="off" action="{% url 'restore_password' %}">#}
    {#                {% csrf_token %}#}
    {#                <label for="phone">Код страны</label>#}
    {#            <p style="color: red">{{ form.country_code.errors }}</p>#}
    {#            <select name="country_code" id="">#}
    {#                <option data-countryCode="KZ" value="7" selected>Казахстан (+7)</option>#}
    {#                <option data-countryCode="RU" value="7">Россия (+7)</option>#}
    {##}
    {#            </select>#}
    {#            <label for="id_phone_number">Ваш номер телефона</label>#}
    {#            <p style="color: red">{{ form.phone_number.errors }}</p>#}
    {#            <input type="text" name="phone_number" id="phone_number" placeholder="7777777777" required>#}
    {##}
    {##}
    {#                <button type="submit" class="btn-green" name="register">Восстоновить</button>#}
    {##}
    {#                <a href="{% url 'register_view' %}">Регистрация</a>#}
    {#                <a href="{% url 'login_view' %}">Войти</a>#}
    {#            </form>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}