
        {% for order in orders %}

            <div class="orders orders-top">
                <p class="orders-text-1">Откуда: {{ order.from_address }}</p>
                <p class="orders-text-2">Куда: {{ order.to_address }}</p>
                <p class="orders-text-3">Время заявки: {{ order.created }}</p>

                    {% if order.selected_driver == request.user %}

                        <div style="left: 23px; top: 70px; position: absolute; font-size: 12px">
                        <p>Номер клиента: <a href="tel:{{ order.phone_number }}"
                                             style="color: #3D5AFE">{{ order.phone_number }}</a></p>

                        </div>
                        <p><a class="orders-text-6" disabled="">Ваш заказ</a></p>
                    {% else %}

                        {% if not order.offers.all %}
                            <p><a class="orders-text-4" href="{% url 'order_detail' order.id %}">Отправить заявку</a>
                            </p>

                        {% else %}
                            {% for offer in order.offers.all %}
                                {% if offer.driver_offer == request.user %}
                                    <p><a class="orders-text-5" href="{% url 'order_detail' order.id %}">Отправлено</a>
                                    </p>
                                {% else %}
                                    <p><a class="orders-text-4" href="{% url 'order_detail' order.id %}">Отправить
                                        заявку</a></p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
            </div>
        {% endfor %}
