{% for order in orders %}
    {% if order.is_view and order.selected_driver == request.user %}
        <form action="{% url 'orders_view' %}" method="post">
            {% csrf_token %}
            <div class="order-modal" id="id_modal" style="">
                <div class="order-modal-content">
                    <input type="hidden" name="order_id" value="{{ order.id }}">
                    <button type="submit" name="close" class="close" id="id_close">&times;</button>

                    <div class="order-modal-header">
                        <p>Вас выбрали</p>
                    </div>
                    <hr color="#d0d0d0" size="1" style="margin-top: 8px; border-radius: 25px">
                    <div class="order-modal-body">
                        <p class="">Откуда: {{ order.from_address }}</p>
                        <p class="">Куда:
                            {% if order.to_address == 'договориться на месте' %}
                                <span style="background-color: #48CC4D; padding: 2px; border-radius: 5px; color: white">{{ order.to_address }}</span>
                            {% else %}
                                {{ order.to_address }}
                            {% endif %}
                        </p>
                        {% if order.to_address != 'договориться на месте' %}
                            <p class="">Ваша цена:
                                {% for offer in order.offers.all %}{% if offer.driver_offer == request.user %}
                                    {{ offer.price }}
                                {% endif %}{% endfor %} тг</p>
                        {% endif %}
                        <p class="">Ваша время:
                            {% for offer in order.offers.all %}{% if offer.driver_offer == request.user %}
                                {{ offer.time }}
                            {% endif %}{% endfor %} минут</p>
                        <p class="">Номер: {{ order.phone_number }}</p>
                        <br>
                        <a href="tel:{{ order.phone_number }}" class="order-call-btn">Позвонить</a>
                    </div>
                    <div class="order-modal-footer">
                        <p>Уважаемый водитель</p>
                        <p>Обязательном порядке возьмите водительские удостоверение. Вы несёте прямую ответственность за
                            все
                            ситуации, происходящие на протяжении всего заказа</p>
                    </div>
                </div>

            </div>
        </form>
    {% endif %}
    <div class="orders orders-top">
        <p class="orders-text-1">Откуда: <span
                style="  {% if order.from_address|length > 15  and order.from_address|length < 30 %}font-size: 10px;{% elif order.from_address|length >= 30 %}font-size: 10px;{% endif %}">{{ order.from_address }}</span>
        </p>
        <style>
            {% if order.from_address|length > 15  and order.from_address|length < 30 %}

                .orders-text-3 {
                    left: 235px;
                }

            {% elif order.from_address|length >= 30 %}
                .orders-text-3 {
                    left: 245px;
                }

            {% endif %}
        </style>
        <p class="orders-text-2">Куда: {% if order.to_address == 'договориться на месте' %}
            <span style="background-color: #48CC4D; padding: 2px; border-radius: 5px;color: white">{{ order.to_address }}</span>
        {% else %}
            {{ order.to_address }}
        {% endif %}</p>

        <p class="orders-text-3">Время заявки: {{ order.created }}</p>

        {% if order.selected_driver == request.user %}

            <div style="left: 23px; top: 41px; position: absolute; font-size: 12px">
                {% if order.to_address != 'договориться на месте' %}
                    <p class="" style="">Ваша цена:
                        {% for offer in order.offers.all %}{% if offer.driver_offer == request.user %}{{ offer.price }}
                        {% endif %}{% endfor %} тг</p>
                {% endif %}
                <p class="" style="margin-top: 2px">Ваша время:
                    {% for offer in order.offers.all %}{% if offer.driver_offer == request.user %}{{ offer.time }}
                    {% endif %}{% endfor %} минут</p>
                <p style="margin-top: 2px">Номер клиента: <a href="tel:{{ order.phone_number }}"
                                                             style="color: #3D5AFE">{{ order.phone_number }}</a></p>


            </div>
            <p><a class="orders-text-6" disabled="">Ваш заказ</a></p>
        {% else %}

            {% if not order.offers.all %}

                {% if request.user.is_block == False and request.user.balance >= request.user.city.overpayment and request.user.active_subscription == True %}
                    <p><a class="orders-text-4" href="{% url 'order_detail' order.id %}">Отправить заявку</a>
                    </p>
                {% else %}
                    <p><a class="orders-text-4" style="background-color: gray" disabled="">Отправить заявку</a>
                    </p>
                {% endif %}

            {% else %}
                {% for offer in order.offers.all %}
                    {% if offer.driver_offer == request.user %}
                        {% if order.to_address != 'договориться на месте' %}
                            <p class="orders-text-2" style="top: 40px">Ваша цена:
                                {{ offer.price }}тг</p>
                        {% endif %}
                        <p class="orders-text-2" style="top: 56px">Ваша время:
                            {{ offer.time }} минут</p>
                        <p><a class="orders-text-5" disabled="">Отправлено</a>
                        </p>
                    {% else %}
                        {% if request.user.is_block == False and request.user.balance >= request.user.city.overpayment and request.user.active_subscription == True %}
                            <p><a class="orders-text-4" href="{% url 'order_detail' order.id %}">Отправить заявку</a>
                            </p>
                        {% else %}
                            <p><a class="orders-text-4" style="background-color: gray" disabled="">Отправить заявку</a>
                            </p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endfor %}
<script>
    var modal = document.getElementById("id_modal");
    var btn = document.getElementById("id_close");
    btn.onclick = function () {
        {#modal.style.display = "none";#}
    };

    $('#id_modal').scroll(function () {
        sessionStorage.scrollTopModal = $('#id_modal').scrollTop();
    });
    $(document).ready(function () {
        console.log(sessionStorage.scrollTopModal);
        if (sessionStorage.scrollTopModal != "undefined") {
            $('#id_modal').scrollTop(sessionStorage.scrollTopModal);
        }
    });

</script>