{% extends 'profileapp/profile_base.html' %}
{% block title %}
    <title>saparda.kz | Заказы</title>
{% endblock %}
{% block content %}
    <div class="city-in-orders">
        <p>{{ request.user.city }}</p>
    </div>
    <div class="orders" >
        <div class="orders-row">
            <div class="orders-left">
                <p>Откуда: {{ order.from_address }}</p>
                <p>Куда: {% if order.to_address == 'договориться на месте' %}
                    <span class="in-fact">{{ order.to_address }}</span>
                {% else %}
                    {{ order.to_address }}
                {% endif %}</p>
             {% if order.second_address %}
                            <p>2-й адрес: {{ order.second_address }}</p>
                        {% endif %}
                        {% if order.third_address %}
                            <p>3-й адрес: {{ order.third_address }}</p>
                        {% endif %}
                        {% if order.fourth_address %}
                            <p>4-й адрес: {{ order.fourth_address }}</p>
                        {% endif %}
            </div>
            <div class="orders-right">
                <p>Время заявки: {{ order.created }}</p>
            </div>
        </div>
    </div>

    <div class="orders offer-form" style="text-align: center; height: 135px">
        <p>
            Уважаемый водитель! Укажите точное время прибытия. Клиент может уехать не дождавшись вас.
        </p>
        {% if offer %}
            <div class="text-in-registration-window">Цена:</div>
            <input type="number" class="registration-input" name="price" placeholder="Цена" value="{{ offer.price }}"
                   disabled>
            <div class="text-in-registration-window">Время (минутах):</div>
            <input type="number" class="registration-input" name="time" placeholder="Время (минутах)"
                   value="{{ offer.time }}" disabled required>
            {#            <div class="text-in-registration-window">Комментария к заказу</div>#}
            {#            <textarea name="comment" id="" cols="50" rows="10" class="registration-input" maxlength="50" disabled  style="resize: none"#}
            {#                      required>{{ offer.comment }}</textarea>#}
        {% else %}

            <form action="{% url 'order_detail'  order.id %}" method="post" id="offer-form">
                {% csrf_token %}
                {% if order.to_address != 'договориться на месте' %}
                    <input type="number" class="offer-input" name="price" placeholder="Цена">
                {% else %}
                    <style>
                        .orders {
                            height: 110px !important;
                        }
                    </style>
                {% endif %}
                <input type="number" class="offer-input" name="time" placeholder="Время (минутах)" min="1" max="999"
                       required>
                <div>
                    <input type="submit" class="btn-submit-offer" id="btn-submit-offer">
                </div>

            </form>

        {% endif %}

    </div>
    <!-- jQuery !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- jQuery UI !-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>

        {#$('#btn-submit-offer').one('submit', function () {#}
        {#    event.preventDefault();#}
        {#    console.log('asd');#}
        {#    $.ajax({#}
        {#        type: 'POST',#}
        {#        url: "{% url 'order_detail' order.id %}",#}
        {#        data: $(form).serialize(),#}
        {#        success: function e() {#}
        {#            console.log(e);#}
        {#        },#}
        {##}
        {##}
        {#    });#}
        {#$(this).find('input[type="submit"]').attr('disabled', 'disabled');#}
        {# })#}
        $('#offer-form').on('submit', function () {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: "{% url 'order_detail' order.id %}",
                data: $('#offer-form').serialize(),
                success: function e() {
                    $(document.body).load('/orders');
                },
            });
        });


    </script>
{% endblock %}