{% extends 'profileapp/profile_base.html' %}
{% block title %}
    <title>saparda.kz | Заказы</title>
{% endblock %}
{% block content %}
    <div class="city-in-orders">
        <p>{{ request.user.city }}</p>
    </div>



    <div class="orders orders-top" style="">
        <p class="orders-text-1">Откуда: <span
                style="  {% if order.from_address|length > 15  and order.from_address|length < 30 %}font-size: 10px;{% elif order.from_address|length >= 30 %}font-size: 10px;{% endif %}">{{ order.from_address }}</span>
        </p>
        <style>
            {% if order.from_address|length > 15  and order.from_address|length < 30 %}

                .orders-text-3 {
                    left: 235px;
                }

            {% elif order.from_address|length >= 30 %}
                .orders-text-3 {
                    left: 245px;
                }

            {% endif %}
        </style>
        <p class="orders-text-2">Куда: {% if order.to_address == 'договориться на месте' %}
                                            <span style="background-color: #48CC4D; padding: 2px; border-radius: 5px; font-size: 11px;color: white">{{ order.to_address }}</span>
                                        {% else %}
                                            {{ order.to_address }}
                                        {% endif %}</p>
        <p class="orders-text-3">Время заявки: {{ order.created }}</p>

        {#                    <a class="orders-text-4" href="{% url 'order_detail' order.id%}">Отправить заявку</a>#}

    </div>

    <div class="orders orders-top" style="height: 200px;">
        {% if offer %}
            {{ order.comment }}
            <br>
            <div class="text-in-registration-window">Цена:</div>
            <input type="number" class="registration-input" name="price" placeholder="Цена" value="{{ offer.price }}" disabled required>
            <div class="text-in-registration-window">Время (минутах):</div>
            <input type="number" class="registration-input" name="time" placeholder="Время (минутах)" value="{{ offer.time }}" disabled  required>
{#            <div class="text-in-registration-window">Комментария к заказу</div>#}
{#            <textarea name="comment" id="" cols="50" rows="10" class="registration-input" maxlength="50" disabled  style="resize: none"#}
{#                      required>{{ offer.comment }}</textarea>#}
        {% else %}
            <form action="{% url 'order_detail'  order.id %}" style="margin: 5px; " method="post">
                {% csrf_token %}
                <div class="text-in-registration-window">Цена:</div>
                <input type="number" class="registration-input" name="price" placeholder="Цена" required>
                <div class="text-in-registration-window">Время (минутах):</div>
                <input type="number" class="registration-input" name="time" placeholder="Время (минутах)" required>
{#                <div class="text-in-registration-window">Комментария к заказу</div>#}
{#                <textarea name="comment" id="" cols="50" rows="10" class="registration-input"  maxlength="50" style="resize: none"#}
{#                          required></textarea>#}

                <button class="orders-text-4" style="top: 155px; left: 115px" type="submit">Отправить заявку</button>
            </form>
        {% endif %}
    </div>


{% endblock %}