{% extends 'profileapp/profile_base.html' %}
{% block title %}
    <title>saparda.kz | Заказы</title>
{% endblock %}
{% block content %}
    <div class="city-in-orders">
        <p>{{ request.user.city }}</p>
    </div>

    <div id="id_orders">
    </div>
    <!-- jQuery !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- jQuery UI !-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>


        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'get_orders' %}",
                    success: displayData,
                    dataType: 'html',

                });
             }, 1000);
         });


        function displayData(data, textStatus, jqXHR) {
            $('#id_orders').html(data)
        }


    </script>
{% endblock %}