{% extends 'profileapp/profile_base.html' %}
{% block title %}
    <title>Заказы</title>
{% endblock %}
{% block content %}
    <div class="city-in-orders">
        <p>{{ request.user.city }}</p>
    </div>
    <div id="id_orders">
        {% for order in orders %}

            <div class="orders orders-top">
                <p class="orders-text-1">Откуда: {{ order.from_address }}</p>
                <p class="orders-text-2">Куда: {{ order.to_address }}</p>
                <p class="orders-text-3">Время заявки: {{ order.created }}

                    {% if order.selected_driver == request.user %}

                        <div style="left: 23px; top: 70px; position: absolute; font-size: 12px">
                        <p>Номер клиента: <a href="tel:{{ order.phone_number }}"
                                             style="color: #3D5AFE">{{ order.phone_number }}</a></p>

                        </div>
                        <p><a class="orders-text-6" disabled="">Ваш заказ</a></p>
                        <form action="{% url 'orders_view' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            {% if order.status == 'started' %}
                                <button class="orders-text-4" style="top: 110px" type="submit" name="in_progress">Начать заказ</button>
                            {% elif order.status == 'in_progress' %}
                                <button class="orders-text-4" style="top: 110px" type="submit" name="finished">Завершит заказ</button>
                            {% endif %}
                        </form>

                        {#                        <p>#}
                    {% else %}

                        {% if not order.offers.all %}
                            <p><a class="orders-text-4" href="{% url 'order_detail' order.id %}">Отправить заявку</a>
                            </p>

                        {% else %}
                            {% for offer in order.offers.all %}
                                {% if offer.driver_offer == request.user %}
                                    <p><a class="orders-text-5" href="{% url 'order_detail' order.id %}">Отправлено</a>
                                    </p>
                                {% else %}
                                    <p><a class="orders-text-4" href="{% url 'order_detail' order.id %}">Отправить
                                        заявку</a></p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
            {#                <form action="." method="post">#}
            {#                    {% csrf_token %}#}
            {#                    <input type="hidden" name="order_id" value="{{ order.id }}">#}

            {#                </form>#}
            </div>
        {% endfor %}
    </div>
    {#    <div class="orders">#}
    {#        <p class="orders-text-1">Откуда:</p>#}
    {#        <p class="orders-text-2">Куда:</p>#}
    {#        <p class="orders-text-3">Время заявки:</p>#}
    {#        <button class="orders-text-5">Отправлено</button>#}
    {#    </div>#}
    {##}
    {#    <div class="orders">#}
    {#        <p class="orders-text-1">Откуда:</p>#}
    {#        <p class="orders-text-2">Куда:</p>#}
    {#        <p class="orders-text-3">Время заявки:</p>#}
    {#        <button class="orders-text-6" disabled>Ваш заказ</button>#}
    {#    </div>#}
    {#    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>#}
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            setInterval(function () {#}
    {#                $.ajax({#}
    {#                    type: 'GET',#}
    {#                    url: "{% url 'get_orders' %}",#}
    {#                    success: function (response) {#}
    {#                        $('#id_orders').html(response);#}
    {#                    },#}
    {#                    error: function (response) {#}
    {##}
    {#                    }#}
    {#                })#}
    {#            }, 1000)#}
    {#        });#}
    {#    </script>#}
{% endblock %}