{% extends 'profileapp/profile_base.html' %}
{% load mathfilters %}
{% block title %}
    <title>Профиль</title>
{% endblock %}
{% block content %}

    <div class="blue-in-profile">
        <p class="name-in-profile">{{ request.user.last_name }} {{ request.user.first_name }}</p>
        <p class="city-in-profile">{{ request.user.city }}</p>
        <div class="div-for-image"><img src="{{ request.user.avatar.url }}" width="120px" alt=""></div>
    </div>

    <!-- grid-in-profile -->
    <div class="grid-in-profile">

        <div class="row-grid">
            <span>ИИН</span>
            <span>{{ request.user.iin }}</span>
        </div>


        <div class="row-grid">
            <span>Номер ВУ</span>
            <span>{{ request.user.driver_license_number }}</span>
        </div>

    </div>
    <div style="text-align: center">{% if messages %}
        {% for message in messages %}
            <p style="color: red">{{ message|escape }}</p>
        {% endfor %}
    {% endif %}</div>
    <div class="token-block-1" style="height: 180px">
        <form action="." method="post">
            {% csrf_token %}
            <p class="title-in-token-block">Состояние подписки</p>

            <p class="text-in-token-block">Стоимость подписки за 1 неделю: {{ request.user.city.subscription_price }}
                тенге</p>
         <div class="bar-border">
        <div class="bar-text" style="width: 160px; margin-left: 73px">Лимит {{ request.user.restriction }} заказа из {{ request.user.city.restriction }}</div>
                <div class="bar-green" style="height:24px;width: {% widthratio  request.user.city.restriction|sub:request.user.restriction  request.user.city.restriction 100 %}%">
                </div>
                <div class="bar-red" style="margin-left:-4px;height:24px;width:{% widthratio request.user.restriction  request.user.city.restriction 100 %}%">
{#                    {{ subscription_days }} дней из 30#}
                </div>
            </div>
            <div class="bar-border">
        <div class="bar-text">{{ subscription_days }} дней из 7</div>
                <div class="bar-green" style="height:24px;width:{% widthratio subscription_days 7 100 %}%">
                </div>
                <div class="bar-red" style="margin-left:-4px;height:24px;width: {% widthratio 7|sub:subscription_days 7 100 %}%">
{#                    {{ subscription_days }} дней из 30#}
                </div>
            </div>
            <div class="div-in-token-block">

                {#            <span class="span-in-token-block">#}
                {#                {% if request.user.active_subscription %}#}
                {#                    Осталось: {{ subscription_days }} дней#}
                {##}
                {#                {% else %}Не оформлена{% endif %}</span>#}

                <button class="btn-in-token-block" type="submit" style="width: 162px; border: none;"
                        name="subscription">
                    {% if request.user.active_subscription %}Оплатить подписку{% else %}Оформить
                        подписку{% endif %}</button>


            </div>
        </form>
    </div>


    <div class="token-block-1">
        <p class="title-in-token-block">Пополнить баланс</p>
        <p class="text-in-token-block">Ставка за 1 заказ после лимита: {{ request.user.city.overpayment }} тенге</p>
        <div class="div-in-token-block">
            <span class="span-in-token-block">Ваш баланс: {{ request.user.balance }} тенге</span>
            <a class="btn-in-token-block-2" href="#">Пополнить баланс</a>
        </div>
    </div>

    <div class="token-block-2">
        <p class="title-in-token-block">Статистика выполненных заказов</p>
        <div class="table-1"><p>Колличество заказов</p></div>
        <span class="table-2">За сегодня: {{ count_orders_day }}</span><br>
        <span class="table-3">За неделю: {{ count_orders_week }}</span><br>
        <span class="table-4">За месяц: {{ count_orders_month }}</span><br>
        <span class="table-5">За все время: {{ count_orders_all }}</span><br>
        <div class="table-1"><p>Сумма заработка</p></div>
        <span
        = class="table-7">За сегодня: {% if amount_income_day is None %}0
        {% else %}{{ amount_income_day }} {% endif %}</span><br>
        <span class="table-8">За неделю:{% if  amount_income_week is None %}0
            {% else %}{{ amount_income_week }} {% endif %} </span><br>
        <span class="table-9">За месяц: {% if  amount_income_month is None %}0
            {% else %}{{ amount_income_month }}  {% endif %}</span><br>
        <span class="table-10">За все время:{% if  amount_income_all is None %}0
            {% else %}{{ amount_income_all }}  {% endif %} </span><br>
    </div>
{% endblock %}