<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/stylefor.css">
    <link rel="icon" type="image/png" href="/static/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    </style>
</head>
<body>
<main class="page">

    <div id="nav-container">

        <div class="bg"></div>

        <div class="button" tabindex="0">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="header-1">

            <div id=flip>

                <div>
                    <div>Пишите точное время прибытия, так как клиент может уехать не дожидаясь вас</div>
                </div>
                <div>
                    <div>Предлогайте максимально выграшную цену, чаевых никто не отменял</div>
                </div>
                <div>
                    <div>Приглашайте друзей на работу так как заказов все хватит  <i class="fa fa-arrow-right"
                                                                   style="font-size: 15px; -webkit-text-stroke: 1px #DC143C;"></i>
                    </div>
                </div>
            </div>

        </div>
        <div style="position: absolute; margin-top: -52px;left: 85%; ">
            <button class="share-button" style="border: none; background: none" type="button">
           <span> <i class="fa fa-share-alt" style="    color: #06b6ef;
            font-size: 35px;
            -webkit-text-stroke: 3px #F0F8FF;"></i></span>
            </button>
        </div>

        <div id="nav-content">
            <div class="yellow-box">
                <p class="name-in-yellow-box">{{ request.user.first_name }}</p>
                <div class="div-for-image-in-yellow-box"><img src="


                        {% if request.user.avatar %}{{ request.user.avatar.url }}{% else %}/static/img/profile-3.png{% endif %}"
                                                              width="60px"
                                                              alt="img"></div>
                <p class="money-in-yellow-box">{{ request.user.balance }} тг</p>
                <p class="city-in-yellow-box">{{ request.user.city }}</p>
            </div>
            <ul>
                <li><a href="{% url 'orders_view' %}">Заказы</a></li>
                <hr>
                <li><a href="{% url 'profile_view' %}">Профиль</a></li>
                <hr>
                <li><a href="{% url 'instruction_view' %}">Техинструкция</a></li>
                <hr>
                <li><a href="{% url 'settings_view' %}">Настройки аккаунта</a></li>
                <hr>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
                <hr>
            </ul>
        </div>

    </div> <!---------------------nav-container ------------ -->
    {% block content %}
    {% endblock %}

</main> <!---------------------- page ---------------------->

<footer>
    <div class="contacts">
        <p>Телефон: 727 300-0000</p>
        <p>Email: vgraduse.kz@gmail.com</p>
    </div>
</footer>
<script>
    const shareButton = document.querySelector('.share-button');
    shareButton.addEventListener('click', event => {
        if (navigator.share) {
            navigator.share({
                title: 'Трезвый водитель',
                text: 'Для водителей',
                url: 'https://www.saparda.kz/'
            }).then(() => {
                console.log('Thanks for sharing!');
            })
                .catch(console.error);
        } else {
            console.log('No!');

        }
    });
</script>
</body>
</html>